.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #00856f;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.hidden{
    display: none;
    
  }
}
