.header-container {
  background-color: transparent;
  padding: 27px 24px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .header-wrapper {
    max-width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;

    .header-icon {
      color: #00856f;

      &.scrolled {
        color: #fff;
      }
    }
  }

  &.scrolled {
    background-color: #00856f;
  }
}
